{% extends "header.html" %}

{% block body %}

<p>
<h2>Fragrance</h2>
<br>
<h2>Product ID: 301, Price: HKD300</h2>
<img style="max-width:300px; margin-top:-7px;" src="{{ url_for('static', filename='images/fragrance/takai.jpg') }}">
<h2>Product ID: 302, Price: HKD310</h2>
<img style="max-width:300px; margin-top:-7px;" src="{{ url_for('static', filename='images/fragrance/hikui.jpg') }}">
<h2>Product ID: 303, Price: HKD320</h2>
<img style="max-width:300px; margin-top:-7px;" src="{{ url_for('static', filename='images/fragrance/fragrance2.jpg') }}">
</p>

{% endblock body %}
