<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Tiffany Shop</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<header>
   <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img style="max-width:120px; margin-top: -7px;" src="{{ url_for('static', filename='images/mainlogo.png') }}">
      </a>
   </div>

   <div class = "container-fluid">

<ul class="nav navbar-nav navbar-center">

   <div style="margin-right: 10px; margin-left: 15px; margin-top: 3px; margin-bottom: 3px;"  class="container-fluid">
     <h3>
       <p class name>TIFFANY & CO.</p>
     </h3> 
</ul>

      <ul class="nav navbar-nav navbar-right">
        <div style="margin-right: 10px; margin-left: 15px; margin-top: 5px; margin-bottom: 5px;"  class="container-fluid">
         <h5>
            {% if session.logged_in %}
            <a href="/dashboard/"><span class="glyphicon glyphicon-home"></span> Home &nbsp;&nbsp;&nbsp;</a>
            <a href="/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout   </a>
            {% else %}
            <a href="/login/"><span class="glyphicon glyphicon-log-in"></span> Login &nbsp;&nbsp;&nbsp;</a>
            <a href="/register/"><span class="glyphicon glyphicon-pencil"></span> Sign up</a>
            {% endif %}
          </h5>
         </div>
      </ul>

   </div>
</header>

<body>

   <div class="container-fluid" style="min-height:100% width:80%">
   {% with messages = get_flashed_messages() %}
      {% if messages %}
	{% for message in messages %}
          <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
             {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

   {% block body %}{% endblock %}	


   </div>

   <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	
</body>

</html>
