{% extends "header.html" %}

{% block body %}

<p>

<h2>Jewelry</h2>
<br>
<h2>Product ID: 101, Price: HKD100</h2>
<img style="max-width:300px; margin-top:-7px;" src="{{ url_for('static', filename='images/jewelry/neck2.jpg') }}">
<h2>Product ID: 102, Price: HKD110</h2>
<img style="max-width:300px; margin-top:-7px;" src="{{ url_for('static', filename='images/jewelry/brace2.jpg') }}">
<h2>Product ID: 103, Price: HKD120</h2>
<img style="max-width:300px; margin-top:-7px;" src="{{ url_for('static', filename='images/jewelry/brace1.jpg') }}">
<h2>Product ID: 104, Price: HKD130</h2>
<img style="max-width:300px; margin-top:-7px;" src="{{ url_for('static', filename='images/jewelry/key.jpg') }}">
<h2>Product ID: 105, Price: HKD150</h2>
<img style="max-width:300px; margin-top:-7px;" src="{{ url_for('static', filename='images/jewelry/ear.jpg') }}">
<h2>Product ID: 106, Price: HKD160</h2>
<img style="max-width:300px; margin-top:-7px;" src="{{ url_for('static', filename='images/jewelry/brace3.jpg') }}">
<h2>Product ID: 107, Price: HKD170</h2>
<img style="max-width:300px; margin-top:-7px;" src="{{ url_for('static', filename='images/jewelry/neck.jpg') }}">
<h2>Product ID: 108, Price: HKD180</h2>
<img style="max-width:300px; margin-top:-7px;" src="{{ url_for('static', filename='images/jewelry/octopus.jpg') }}">
<h2>Product ID: 109, Price: HKD190</h2>
<img style="max-width:300px; margin-top:-7px;" src="{{ url_for('static', filename='images/jewelry/pinkruby.jpg') }}">
<h2>Product ID: 110, Price: HKD200</h2>
<img style="max-width:300px; margin-top:-7px;" src="{{ url_for('static', filename='images/jewelry/butterfly.jpg') }}">
<h2>Product ID: 111, Price: HKD210</h2>
<img style="max-width:300px; margin-top:-7px;" src="{{ url_for('static', filename='images/jewelry/bracelet.jpg') }}">
<h2>Product ID: 112, Price: HKD220</h2>
<img style="max-width:300px; margin-top:-7px;" src="{{ url_for('static', filename='images/jewelry/earring2.jpg') }}">
<h2>Product ID: 113, Price: HKD230</h2>
<img style="max-width:300px; margin-top:-7px;" src="{{ url_for('static', filename='images/jewelry/men.jpg') }}">
<h2>Product ID: 114, Price: HKD240</h2>
<img style="max-width:300px; margin-top:-7px;" src="{{ url_for('static', filename='images/jewelry/earring1.jpg') }}">
<h2>Product ID: 115, Price: HKD250</h2>
<img style="max-width:300px; margin-top:-7px;" src="{{ url_for('static', filename='images/jewelry/cuff.jpg') }}">

</p>

{% endblock body %}
