{% extends "header.html" %}

{% block body %}

<body>
	<div class = "container">
		<h4>Order Form</h4>
		<br>
		{% from "_formhelpers.html" import render_field %}
		<form method=post action="/order/">
			<dl>
				{{render_field(form.productid)}}
				{{render_field(form.orderqty)}}
				{{render_field(form.confirm)}}
			</dl>
			<p><input type=submit value=Order></p>
		</form>
		
		{% if error %}
			<p class="error"><strong>Error:</strong>{{error}}</p>
		{% endif %}

	</div>
</body>

{% endblock %}

