{% extends "header.html" %}

{% block body %}

<p>

<h2>Watches</h2>
<br>
<h2>Product ID: 201, Price: HKD200</h2>
<img style="max-width:300px; margin-top:-7px;" src="{{ url_for('static', filename='images/watches/men1.jpg') }}">
<h2>Product ID: 202, Price: HKD210</h2>
<img style="max-width:300px; margin-top:-7px;" src="{{ url_for('static', filename='images/watches/men2.jpg') }}">
<h2>Product ID: 203, Price: HKD220</h2>
<img style="max-width:300px; margin-top:-7px;" src="{{ url_for('static', filename='images/watches/women1.jpg') }}">
<h2>Product ID: 204, Price: HKD230</h2>
<img style="max-width:300px; margin-top:-7px;" src="{{ url_for('static', filename='images/watches/women2.jpg') }}">
<h2>Product ID: 205, Price: HKD250</h2>
<img style="max-width:300px; margin-top:-7px;" src="{{ url_for('static', filename='images/watches/cocktail.jpg') }}">

</p>

{% endblock body %}
